body{
  font-family:  san-serif;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;

}
header {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid #EEEEEE;
  position:relative;
}

header > div {
  display:flex;
}
header > div > h1 {
  color: #3e5358;
  margin: 0;
  padding: 10px 10px ;
}

header > div > img {
  width:40px;
  height:40px;
}
header > ul  {
  display: flex;
  list-style: none;
  margin:0;
  padding:0;
}
header > ul > li {
  color: #3e5358;
  border: 1px solid #1495b5;
  border-radius: 6px 6px 6px 6px;
  margin: 15px 20px 10px 50px;
  padding: 1px 10px 1px 10px;
  height: 30px;
  text-align:center;
}

header > ul >  li:hover {
  background: #1495b5;
  color: #F5FFFA;
  transition: 1.2s;
  cursor: pointer;
}

header > ul > li.help {
  border: none;
  width:36px;
  height:36px;
}

header > ul > li.help>a>img {
  width: 36px;
  height: 36px;
}
main {
  flex: 1;
 /* display:flex;*/
}
main > aside {
  width: 120px;
}

main > aside >ul{
  list-style:none;
  margin: 20px 5px ;
  padding:0px;
}

main > aside >ul >li{
  color: #3e5358;
  border-radius: 1px;
  border: 1px solid #1495b5;
  border-radius: 6px 6px 6px 6px;
  margin: 5px;
  padding: 1px 1px 1px 5px;
}
main > aside >ul >li:hover{
  background: #1495b5;
  color: #F5FFFA;
  transition: 1.2s;
  cursor: pointer;
}
 
main >article {
/*  flex:1;*/
  height:100%;
  display:flex;
  flex-direction:column;
}
main > article > div.table{
  margin: 10px 50px;
  height: 80px;
  display:flex;
}

main > article > div.table > div.table1{
  flex:1; 
}

main > article > div.table > div.table2{
  width: 100px; 
  margin: 0px 0px 0px 10px;
}

main > article > div.draw{
  flex:1;
  margin: 10px 50px;
  /*overflow:scroll;*/
}
#draw>table{  
  margin:0;
  padding:0;
} 
#draw >table > tr{  
  margin:0;
  padding:0;
}
#draw >table > tr >td{  
  margin:0;
  padding:0;
}

#optionArea {
  background:#FFFFFE;
  position:absolute;
  left: 400px;
  top: 200px;
  width: 200px;
  height: 250px;
  border: 1px solid #1495b5;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

#optionArea >p {
  color: #3e5358;
  margin:0 3px;
} 

#optionArea >form {
  color: #3e5358;
  margin:0 3px;
}

#optionArea >div.submit {
  font-size: 11pt;
  color: #3e5358;
  margin:10px 0px;
  border: 1px solid #1495b5;
  border-radius: 6px;
  padding: 2px 5px;
  width: 70px;
  user-select:none;
  position:absolute;
  bottom: 10px;
  text-align:center;
}
#optionArea >div.submit:hover {
  background: #1495b5;
  color: #F5FFFA;
  transition: 1.2s;
  cursor: pointer;
}

#optionTable{
  margin: 10px 5px;
}

#optionTable>div.userfunctionOption{
  margin:0;
  padding:0;
}

#optionTable>div.userfunctionOption > a{
  margin:0;
  padding:0;
  color: #3e5358;
}
#optionTable>div.userfunctionOption >div.importUserFileLabel> img{
  width:36px;
  height:36px;
}
#optionTable>div.userfunctionOption >div.importUserFileLabel> img:hover{
  cursor:pointer;
}
#optionTable>div.userfunctionOption >p{
  margin: 1px 0px;
  padding:0;
  color: #3e5358;
  word-wrap:break-word;
}

ul.optionUL {
  display:flex;
  flex-direction: column;
  margin: 0px 2px 0px 2px;
  padding:0;
}
ul.optionUL> li {
  display:flex;
  margin: 2px 0px 2px 0px;
  padding:0;
}

ul.optionUL> li > p {
  margin: 0 2px 0 0;
  padding: 0;
  color: #3e5358;
  font-size: 9pt;
  width: 60px;
}
 
ul.optionUL> li > input {
  margin: 0;
  padding: 0;
  width: 50px;
}
